pre {
  backdrop-filter: blur(15px) saturate(100%);
  -webkit-backdrop-filter: blur(15px) saturate(100%);
  border-radius: var(--primary-border-radius);
  background-color: rgba(68, 63, 63, 0.6);
  padding: 2rem 1rem;
  max-width: 74%; /* 26 may 2024 commit */
  text-size-adjust: auto;
  font-family: "Source Code Pro", monospace;
  line-height: 30px;
}

pre .variable {
  color: #9cdcfe;
}

pre .string {
  color: #ce9178;
  text-wrap: wrap;
}

pre .character {
  color: #d4d4d4;
}

pre .bracket {
  color: #ffd700;
}

pre .number {
  color: #b5cea8;
}
