.education {
  margin-left: var(--sidebar-total-width);
  max-width: calc(100% - var(--sidebar-total-width));
  min-height: 80vh;
  padding: 10px 3%;
  border-radius: var(--primary-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #021d35;
  user-select: none;
}


.Merriweather {
  font-family: "Merriweather", serif;
}


main.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.col header.title {
  color: rgb(121, 205, 250);
  padding: 0px 0px 20px 30px;
  margin-top: 10%;
  margin-bottom: 1.5%;
}

.col header.title h1 {
  display: inline;
  border-top: 2px solid #fccc08;
  border-bottom: 2px solid #fccc08;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col .contents {
  padding: 0px 30px;
  border-left: 7px solid #e2dfdf;
  border-radius: 5px;
}

