#dashboard {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  gap: 20px;
  overflow: hidden;
  background-color: rgb(67, 67, 67);
}

.admin-grid-parent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.admin-grid-parent > div {
  background-color: rgb(34, 33, 33);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  padding: 20px 20px;
}
