.sideBar {
  flex: 2;
  position: fixed;
  padding: 2.5rem;
  top: var(--sidebar-margin-tb);
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 60px;
  min-height: calc(100vh - 2 * var(--sidebar-margin-tb));
  z-index: 999;
  background: linear-gradient(
    to bottom,
    #f86b64df,
    #ff9068,
    rgb(233, 124, 124)
  );
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: var(--sidebar-margin);
}

.active {
  background: linear-gradient(to bottom, #f86b64, #ff9068, rgb(233, 124, 124));
  opacity: 1;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.copywrite {
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  transition: 0.35s ease-out;
}

.nav_item {
  transition: transform 0.35s ease-out;
}

/* .nav_item:hover { 
  color: rgba(42, 90, 187, 0.998);
  transform: scale(1.4);
} */ /* 26 may 2024 commit */

.logo {
  background-color: rgba(16, 136, 187, 0.737);
  border-radius: 50%;
  padding: 10px 15px;
}

.logo h1::selection {
  background-color: transparent;
  color: paleturquoise;
}
