* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  background: linear-gradient(to bottom, #3c8193, #8c92ac, #003366, #333333);
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #3c8193, #8c92ac, #003366, #333333);
}

/*  TO BE CHECKED BEFORE DEPLOYMENT ------------
 -----------------------------------------------
 -----------------------------------------------
 -----------------------------------------------
 ----------------------------------------------- */

:root {
  /* Define variables */
  --sidebar-width: 60px;
  --sidebar-padding: 2.5rem;
  --sidebar-border: 1px;
  --sidebar-margin: 10px;
  --sidebar-margin-tb: 10px;

  /* Calculate total sidebar offset */
  --sidebar-total-width: calc(
    var(--sidebar-width) + var(--sidebar-padding) / 2 + var(--sidebar-border) +
      var(--sidebar-margin)
  );

  --page-margin: 10px;

  --mouse_w: 20px;
  --mouse_h: 20px;
}

.noLink {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}

li {
  list-style: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-color: cadetblue;
  transform-origin: 0%;
  border-radius: 5px;
  transition: 0.3s ease;
  z-index: 999;
}

::-webkit-scrollbar {
  width: 5.4px;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(
    to bottom,
    rgb(0, 255, 157),
    rgb(255, 0, 0),
    rgba(229, 255, 0, 0.881)
  ); */
  background-color: rgba(196, 6, 6, 0.911);
  -webkit-border-radius: 2ex;
}

@media screen and (max-width: 850px) {
  .hero {
    background-color: rgb(2, 29, 44);
    background-image: none;
  }
  .headerImage {
    opacity: 1;
    box-shadow: none;
  }
  .profile {
    width: 170px;
    height: 170px;
  }
  .text {
    /* bottom: 90px; */
    bottom: 5%; /* Edit made after test of adding 10px of padding */
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.2vw;
    height: 48%;
  }

  .typewriter {
    font-size: 20px;
  }
  .whoAmI {
    font-size: 20px;
  }

  .social-icons {
    font-size: 23px;
  }

  .education {
    padding: 10px 6% 10px 9%;
  }
  main.row {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(241, 96, 96, 0.615);
  }
  .row .col:nth-child(2) {
    margin-top: 10px;
  }
  .col header.title {
    padding: 0px 0px 20px 30px;
    margin-top: 10%;
  }

  .box:hover {
    box-shadow: none;
    border: 0.7px solid hsl(0, 0%, 92%);
  }
}

@media screen and (max-width: 634px) {
  /* Edit made after test of adding 10px of padding */
  :root {
    --sidebar-total-width: 0px;
  }

  /* Edit made after test of adding 10px of padding */
  .homepage {
    margin: 0px;
  }
  .headerImage {
    opacity: 1;
    box-shadow: none;
  }
  /* Edit made after test of adding 10px of padding */
  .text {
    bottom: 11%;
  }
}


@media screen and (max-width: 400px) {
  .education {
    padding: 10px 0px 10px 9%;
  }
  .col .contents {
    padding: 0px 15px 0px 30px;
  }
  .box{
    padding: 20px 12px;
  }
}

@media screen and (min-height: 900px) {
  /* .text {
    bottom: 16vh;
  } */
  .profile {
    bottom: 11vh;
  }
}

@media screen and (min-height: 1000px) {
  .text {
    /* bottom: 90px; */
    justify-content: space-evenly;
    align-items: center;
    font-size: 3.2vh;
    height: 48%;
    bottom: 13vh;
  }
  .headerImage {
    height: 30vh;
  }
  .profile {
    bottom: 8vh;
  }
}
@media screen and (max-height: 678px) {
  .text {
    bottom: 25px;
    font-size: 11px;
  }
}

@media screen and (min-height: 521px) and (max-height: 620px) {
  .typewriter {
    display: none;
  }
  .whoAmI {
    display: none;
  }
  .text {
    justify-content: end;
  }
  .sideBar {
    display: none;
  }
}

@media screen and (max-height: 521px) {
  .typewriter {
    display: none;
  }
  .whoAmI {
    display: none;
  }
  .text {
    justify-content: end;
  }
  .social-icons {
    display: none;
  }
  .sideBar {
    display: none;
  }
}
