* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background: linear-gradient(to bottom, #593c93, #8c92ac, #003366, #333333);
}

/*  TO BE CHECKED BEFORE DEPLOYMENT ------------
 -----------------------------------------------
 -----------------------------------------------
 -----------------------------------------------
 ----------------------------------------------- */

:root {
  /* Define variables */
  --sidebar-width: 60px;
  --sidebar-padding: 2.5rem;
  --sidebar-border: 1px;
  --sidebar-margin: 10px;
  --sidebar-margin-tb: 10px;

  /* Calculate total sidebar offset */
  --sidebar-total-width: calc(
    var(--sidebar-width) + var(--sidebar-padding) / 2 + var(--sidebar-border) +
      var(--sidebar-margin)
  );

  --page-margin: 10px;

  --mouse_w: 20px;
  --mouse_h: 20px;
}

@media screen and (max-width: 634px) {
  :root {
    /* Adjust variables for mobile view if needed */
    --sidebar-total-width: 0px;
  }
}

.noLink {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}

li {
  list-style: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-color:cadetblue;
  transform-origin: 0%;
  border-radius: 5px;
  transition: 0.7s ease-in-out;
}

::-webkit-scrollbar {
  height: 2px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(
    to bottom,
    rgb(0, 255, 157),
    rgb(255, 0, 0),
    rgba(229, 255, 0, 0.881)
  ); */
  background-color: #c8b237f2;
  -webkit-border-radius: 2ex;
}